html, body, footer{
    /*background-image: url(../img/BG.jpg);*/
    background-color: rgb(214, 214, 214);
    font-family:Arial;
    font-stretch: condensed;

}

header{
    position: fixed;
    left: 0px;
    top: 2%;
    width: 100%;
    z-index: 1;
   
}

#line{
    background-color: black;
    min-width: 100%;
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    height: 80px;
    top: 160px;

}

#logo{
    position: relative;
    top: -15px;
    left: 5px;
    float: left;
}

nav{
    float: right;
    width: 500px;
    margin: 16px;

}
nav ul{
    height: 160px;
    line-height: 80px;
    list-style: none;
}
nav ul li{
    float: left;
    border-right: 1px solid rgb(150, 150, 150);
    line-height: 12px;
}



nav ul li a{
    color:rgb(255, 255, 255);
    font-weight: bold;
    padding: 0 30px;
    text-decoration: none;
}

nav ul li:last-child {border-right:none}
nav ul li a:hover{color: rgb(196, 189, 189)}
nav ul li:active{background-color:rgb(48, 48, 48)}

section{
    width: 100%;
    margin: 140px 0;
    display: -webkit-inline-flex;
    display: inline-flex; 

}

#pictersleft{
    margin-left: 20px;
    float: left;
    width: 300px;
}

#pictersright{
    margin-left: 20px;
    margin-right: 0px;
    width: 300px;
    float: right;
}

.martext{
    margin-left: 20px;
    font-size: 25px;
}

hr {
    border: 0;
    height: 1px;
    background: #000;
    }

.text{
    height: 906px;
    width: 54%;
    margin-left: 20px;
    background-color:#7f7c7c
}

.list{
    border-left: 1px square #000000;
    width: 510px;
    margin-left: 20px;
    padding: 0 20px;
    list-style: none;

}

.a{
    text-decoration:none;
    color: #000000;
    font-size: 30px;
}
.a:hover{color: rgb(196, 189, 189) }
.a:active{background-color:rgb(48, 48, 48)}


p {
    padding: 4px;
    font-size: 14px;
    color: #291818;
}

.card button {
    border: none;
    outline: 0;
    padding: 10px;
    color: #fff;
    background-color: #f44336;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
}
.price {
    color: #4f3030;
    font-size: 18px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px; /* Ограничение ширины */
    float: left;
    margin: 25px;
    text-align: center;
    font-family: sans-serif;
}

.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 80px;
    background-color: #000000;
}

#nav{
    float: left;
    width: 800px;
    margin: 16px;
}
 
#nav ul{
    height: 160px;
    line-height: 80px;
    list-style: none;
}

#nav ul li{
    float: left;
    border-right: 1px solid rgb(150, 150, 150);
    line-height: 12px;
}
#nav ul li a{
    color:rgb(255, 255, 255);
    font-weight: bold;
    padding: 0 30px;
    text-decoration: none;

}
#nav ul li:last-child {border-right:none}
#nav ul li a:hover{color: rgb(196, 189, 189)}
#nav ul li:active{background-color:rgb(48, 48, 48)}

#logo2{
    position: relative;
    float: right;
    right: 5px;
}

.textfoot{
    position: relative;
    float: left;
    width: 350px


}

h2{
    font-size: 15px;
    color:#fff;
    font-weight: light;

}
